
.header__wrapper {
    background: #ffffff;
}
.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    width: 100%;
    button:focus {
        outline: 0 none;
    }
    .navbar-toggler {
        padding: 0;
    }
}
.navbar {
    padding: 0;
    z-index: 100;
}
.navbar-collapse {
    flex-grow: 0;
    .logo {
        img {
            width: 135px;
            margin: 0 0px 2px 0px;
        }
    }
    .navbar-nav {
        li {
            margin-left: 28px;
            font-size: 14px;
        }
        .nav-link {
            color: #000000;
            padding: 0;
            transition: var(--transition);
            &:hover {
                color: var(--primaryColor);
            }
            &:active, &.active {
                color: var(--secondaryColor);
            }
        }
        .user__panel {
            img {
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }
        }
    }
    
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}
